<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= sortable_column "ID", :column => "id" %></th>
      <th><%= sortable_column "Name", :column => "name" %></th>
      <th><%= sortable_column "Description", :column => "description" %></th>
      <th><%= sortable_column "Card Type", :column => "card_type_id" %></th>
      <th><%= sortable_column "Created", :column => "created_at" %></th>
      <th><%= sortable_column "Edited", :column => "updated_at" %></th>
    </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.id %></td>
      <td><%= card.name %></td>
      <td><%= card.description %></td>
      <td><%= card.card_type.description %></td>
      <td><%= card.created_at %></td>
      <td><%= card.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
