<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= sortable_column "ID", :column => "id" %></th>
      <th><%= sortable_column "Name", :column => "name" %></th>
      <th><%= sortable_column "Description", :column => "description" %></th>
      <th><%= sortable_column "Card Type", :column => "card_type_id" %></th>
      <th>Effect Methods</th>
    </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.id %></td>
      <td><%= card.name %></td>
      <td><%= card.description %></td>
      <td><%= card.card_type.description %></td>
      <td>
        <ul>
        <% card.effects.each do |effect| %>
          <li><%= effect.effect_type.method %></li>
        <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
